<!-- <div class="card-header">
  <span class="bg">
    <a class="navbar-brand" href="https://www.emplay.net/">
      <img [src]="logoImg" alt="">
    </a>
  </span>
  <div class="float-right fc">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-light" id="profile_drop" ngbDropdownToggle>{{ message }}</button>
        <div ngbDropdownMenu class="dropdown-menu">
          <button ngbDropdownItem (click)="logout()" id="logout">Logout</button>
          <button ngbDropdownItem (click)="open(newProj)" id="ch_pwd">Change Password</button>
         </div>
      </div>
  </div>
</div> -->

<ng-template #newProj let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Password Change</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" id="ch_pwd_close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="input-group mb-3">
      <input class="form-control" placeholder="Password" type="password" #iP1>
    </div>
    <div class="input-group mb-3">
      <input class="form-control" placeholder="Password again!" type="password" #iP2>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="changePassword(iP1.value, iP2.value,newProj)" id="ch_pwd_submit">Submit</button>
  </div>
</ng-template>  
<div class="container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 title">
        <div class="menuBar">
          <i class="material-icons">menu</i>
        </div>
        <h2 (click)="redirectUrl()">ADROIT -</h2><h3>walmart  >  Bot3</h3>
        <div ngbDropdown class="user" ngbDropdownToggle>
          <strong id="profile_drop" >{{user}}</strong>  
            <div ngbDropdownMenu class="dropdown-menu">
              <div class="dropuser">
                <strong>{{user}}</strong>
              </div>
              <button class="dropMenu" ngbDropdownItem><strong>{{message}}</strong></button>
              <button class="dropMenu" ngbDropdownItem (click)="logout()" id="logout">Logout</button>
              <button  ngbDropdownItem (click)="open(newProj)"  id="ch_pwd">Change Password</button>
             </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
  <div class="conatiner-fluid">
    <p (click)="redirectUrl()">Home</p>
  </div>
  <i class="fa fa-angle-left pull-right" aria-hidden="true"></i>