.feature {
    display: grid;
    position: relative;
    left: -15px;
    margin-bottom: 20px !important;
}
.sidebar {
    position: fixed;
    /* top: 52px; */
    /* width: 100%; */
    background-color: #eee;
    padding: 61px;
    left: 0px;
    padding-left: 62px;
    height: 100vh;
    width: 28%;
}
@media(max-width:500px) {
    .sidebar {
        position: relative;
        width: 100%;
    }
}